spring:
  application:
    name: file-manager

aws:
  access-key:
  secret-key:
  upload-bucket-name:
  region:

sqs:
  queue:
    url:

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
