<configuration>

    <!-- Logback pattern for all appenders -->
    <property name="LOGBACK_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -%kvp- %msg%n"/>

    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOGBACK_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="ua.pidopryhora" level="debug" />
<!--    <logger name="io.lettuce.core" level="debug" />-->
<!--    <logger name="org.springframework.data.redis" level="debug" />-->

    <!-- Root logger -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
<!--    <root level="debug">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </root>-->

</configuration>
